@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.pokedex {
  width: 22rem;
  height: 35rem;
  background-color: rgb(116, 203, 72);
  border-radius: 8px;
  padding: 0.3rem;
  transition: background-color 0.5s ease-in-out;

  .top {
    height: 40%;
    padding: 0.5rem;
    background: url(/img/pokeball.png);
    background-position: right;
    background-repeat: no-repeat;

    .top-bar {
      justify-content: space-between;
      color: wheat;
      padding: 0 1.2rem;

      #search {
        color: wheat;
        background: none;
        border: none;
        width: 60%;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      #search:focus {
        outline: none;
        box-shadow: 0 2px #b9b8b8;
        border-radius: 2px;
      }
    }

    .poke-img {
      justify-content: center;

      img {
        width: 200px;
        height: 200px;
        transform: translateY(1.5rem);
      }
    }
  }

  .data {
    background-color: rgb(213, 205, 190);
    height: 60%;
    border-radius: 8px;
    padding-top: 4.5rem;
    flex-direction: column;
    align-items: center;

    .types {
      gap: 1rem;

      span {
        color: wheat;
        padding: 0.3rem 0.6rem;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    h4 {
      text-align: center;
      color: rgba(116, 203, 72);
      transition: color 0.5s ease-in-out;

    }

    .stats {
      width: 80%;
      font-size: 0.8rem;
      gap: 0.6rem;

      .stat {
        .stat-desc {
          width: 13%;
          color: rgb(116, 203, 72);
          font-weight: bold;
          text-align: right;
          margin-right: 0.6rem;
        }

        .stat-number {
          width: 13%;
          border-left: 1px solid gray;
          text-align: right;
        }

        .stat-bar {
          width: 76%;
          align-items: center;
          padding-left: 0.6rem;

          .outer {
            background-color: rgba(116, 203, 72, 0.3);
            display: flex;
            width: 100%;
            height: 0.3rem;
            border-radius: 4px;
            transition: background-color 0.5s ease-in-out;

            .inner {
              background-color: rgb(116, 203, 72);
              border-radius: 4px;
              transition: width 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}
